.sidebar-close {
    width: 0;
    transition: 0.5s;
    overflow: hidden;
    height: 100%;
    background-color: #222327;
}

.sidebar-open {
    width: 250px;
    height: 100%;
    transition: 0.5s;
    background-color: #222327;
}

.button-hover{
    transition: ease-in-out 0.3s;
}

.button-hover:hover {
    background-color: rgba(255, 255, 255, 0.10);
    transition: ease-in-out 0.3s;
}

.opacity-closed {
    opacity: 0;
    transition: ease-in-out 0.1s;
}

.opacity-open {
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}